canvas {
    display: block;
}

#tsparticles {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: black;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}